# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
db.sqlite3-journal

# Media and static files
/media/
/staticfiles/
/static/

# Environments
.env
*.env

# Node.js
node_modules/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# VSCode
.vscode/

# Virtual environment
venv/
env/
*.egg-info/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Migrations
**/migrations/

# IDEs and editors
.idea/
*.sublime-workspace
*.sublime-project
